[tool.poetry]
name = "{{ python_package_distribution_name }}"
version = "0.0.1"
description = ""
license = "MIT"
authors = ["{{ author_name }} <{{ author_email }}>"]
readme = "README.md"
homepage = "https://github.com/{{ author_gh_username }}/{{ python_package_distribution_name }}"
repository = "https://github.com/{{ author_gh_username }}/{{ python_package_distribution_name }}"
