# Changes here will be overwritten by Copier
# https://copier.readthedocs.io/en/latest/configuring/#the-copier-answersyml-file
# https://copier.readthedocs.io/en/latest/creating/#minimal-example
{{ _copier_answers|to_nice_yaml }}
